html, body, div, span, h1, h2, h3, h4, h5, h6, p,label,legend,option,form,button,title {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
   background: transparent;

}

ol, ul {
    list-style: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,fieldset,button {
    display:block;
}

img{
  margin: 0;
padding: 0;
border: 0;
}
